__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
app/static/uploads/documents/*
app/static/uploads/images/*
!app/static/uploads/documents/.gitkeep
!app/static/uploads/images/.gitkeep
